<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.alab.goexpress.trainsearch.TrainSearchMapper">

    <select id="findTrainsBetweenStations"
            resultType="com.alab.goexpress.model.dto.TrainBetweenStationsDto">

        SELECT
        p_from.train_cd AS trainCd,

        p_from.arrival_station_cd AS fromStationCd,
        p_to.arrival_station_cd   AS toStationCd,

        p_from.departure_time AS fromDepartureTime,
        p_to.arrival_time     AS toArrivalTime,

        p_from.track_number AS fromTrackNumber,
        p_to.track_number   AS toTrackNumber

        FROM M_PLAN p_from
        JOIN M_PLAN p_to
        ON p_from.train_cd = p_to.train_cd
        AND p_from.arrival_station_cd = #{fromStationCd}
        AND p_to.arrival_station_cd   = #{toStationCd}

        WHERE p_from.departure_time &lt; p_to.arrival_time
        ORDER BY p_from.departure_time ASC, p_from.train_cd ASC
    </select>

</mapper>
